body,
a,
.navigation {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* Header Navigaton */

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

.home {
  position: relative;
  left: 10px;
}

.logo {
  height: 50px;
}

.nav-links {
  display: inline-block;
}


/* Content */

.content {
  padding-top: 70px;
}

.text-headline {
  padding-top: 40px;
  padding-bottom: 15px;
}

/* Hero Section */

.hero {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
}

.hero .image-content {
  background-color: black;
  width: 100%;
}

/* Tea of the Month Section */

.tea-of-the-month {
  width: 1200px;
}

.product-tiles {
  width: 1000px;
}

.product img {
  height: 200px;
  width: 300px;
  padding: 0 16px;
}

.product h4 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 32px;
}

.product-tiles .first-row,
.product-tiles .second-row {
  display: flex;
  justify-content: center;
}

/* Locations Section */

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

.tea-room {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  margin: 15px 20px;
}

/* Footer Section */

.footer {
  display: flex;
  justify-content: center;
  width: 1200px;
}

.contact {
  height: 200px
  display: flex;
  justify-content: center;
}

.copyright span {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
